In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from simpletransformers.language_representation import RepresentationModel
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.initializers import GlorotUniform, HeUniform
from TweetDataReport import print_tweet_report,check_relevance_balance, datasplit

ImportError: cannot import name 'datasplit' from 'TweetDataReport' (C:\Users\jmstf\CERTH-ITI\Silvanus-Treeads\TweetDataProcessing\TweetDataReport.py)

In [25]:
WF = pd.read_json('wildfire-AUS-CAL-COL.json',orient='index')
WF = WF.sample(frac=0.01).reset_index(drop = True)
WF

,id,text,relevance
0,918354932977324032,family finds virgin mary statue still standing...,1
1,391035519766773760,can you help home pets/animals in need of temp...,1
2,757466210086912000,the media act surprised as most of the german ...,0
3,392288142973087744,seeing yourself as you want to be is the key t...,0
4,926545938155438080,are you ready for what comes next? <HASHTAG> b...,0
...,...,...,...
59,217833346724663296,prayers go out to everyone affected by these w...,1
60,920684183105794048,california wine country tries to get back to b...,1
61,774237911109791744,<USER> @iam_lando <USER> forever bro .,0
62,289415393121017856,san diego r.e. following real estate's bouncin...,0
63,824237586969460736,am across the world away from home where many ...,0

In [26]:
print_tweet_report(WF)

  column_names             data_types shape_len  unique_values
0           id  <class 'numpy.int64'>        ()             64
1         text          <class 'str'>       ---             64
2    relevance  <class 'numpy.int64'>        ()              2

In [27]:
check_relevance_balance(WF)

   relevance  count balance
0          0     32   50.0%
1          1     32   50.0%

In [30]:
test_df = datasplit(WF,1,0.8)

In [31]:
test_df

,id,text,relevance
0,391798149104549888,<HASHTAG> سوريا <HASHTAG> حمص <HASHTAG> حلب au...,1
1,174108142643322880,<USER> i hate school soooooooo much” everyone ...,0
2,757466210086912000,the media act surprised as most of the german ...,0
3,421375109908008960,music is my therapy,0
4,391035519766773760,can you help home pets/animals in need of temp...,1
5,289415618510323712,hmm whos tweet looks changeable lol,0
6,392288142973087744,seeing yourself as you want to be is the key t...,0
7,960636658889654272,<HASHTAG> sayyouwontletgo <HASHTAG> bestcovers...,0
8,1064986284572200960,<USER> sheesh. came in strong with that one,0
9,774237695589642240,"now playing cappadonna, turnpike ike, desert e...",0
10,997626759955787776,<USER> fuck ya b lol,0
11,807392179287130112,<SMILE> <SMILE> <SMILE> <SMILE> <URL>,0
12,392049119465730048,smokey <USER> <HASHTAG> nswfires <HASHTAG> nsw...,1
13,217833346724663296,prayers go out to everyone affected by these w...,1
14,796532081438392320,"european politicians terrified by ""horror scen...",0
15,218936155071184896,"police chief: one dead, one missing in colorad...",1
16,926545938155438080,are you ready for what comes next? <HASHTAG> b...,0
17,920684183105794048,california wine country tries to get back to b...,1
18,774237911109791744,<USER> @iam_lando <USER> forever bro .,0
19,728328132168720384,<USER> is perfect even with broken foot omg 💘 ...,0
20,220583103037587456,the heavy smoke and haze you may be seeing is ...,1
21,392235090735931392,<NUMBER> australia wildfires still burning out...,1
22,917791044158185472,wildfires raging through northern california a...,1
23,216951989232349184,current temp in colorado springs is <NUMBER> d...,1
24,983357895315095552,niggas swear they don’t have feelings. trust m...,0
25,920084522317774848,watch this footage of a couple escaping the ca...,1
26,943302948398002176,scoop: <HASHTAG> iowa senate ways &amp; means ...,0
27,920020172823515136,satellite images show <NUMBER> 800 buildings d...,1
28,1056866322234040320,[update] <NUMBER> — blackpink for adidas 🔗 <UR...,0
29,289415393121017856,san diego r.e. following real estate's bouncin...,0
30,786636935825588224,bulova <NUMBER> 203 lady’s diamond accented be...,0
31,920159942870470656,<HASHTAG> california residents say they didn't...,1
32,791020496510910464,<USER> is that even a real word,0
33,216685898392276992,red cross aid distribution center for <HASHTAG...,1
34,408297195725537280,money can be your bestfriend or ya worst enemy...,0
35,824237586969460736,am across the world away from home where many ...,0
36,918354932977324032,family finds virgin mary statue still standing...,1
37,920352983887564800,disastrous fire management wreaks havoc on cal...,1
38,392965495223119872,wildfires threaten sydney: more than <NUMBER> ...,1
39,394857654801428480,meanwhile australia is on fire and over <NUMBE...,1
40,392174818579480576,<HASHTAG> davis australia bushfires live: fear...,1
41,390724512158715904,good grief! smoke cloud over <HASHTAG> bondi <...,1
42,919676904445112320,icymi: [watch] new evacuations as crews battle...,1
43,748364316978614272,<USER> @thezensettings u mean <NUMBER> 10,0
44,390710998082289664,sydney is covered in orange and black smoke. s...,1
45,391040611685789696,we will try and keep our page up to date with ...,1
46,390719659349397504,there have already been so many bush fires and...,1
47,392805323137748992,amazing photo of amazing people. thoughts and ...,1
48,213751626211667968,devasting update from <HASHTAG> highparkfire. ...,1
49,218065925071568896,a.m. best:major insurers establish claims cent...,1
50,32854955039653888,sharpen your skills! register today! <URL> via...,0
51,918313136654049280,californiaâ€™s wildfires powered by perfect st...,1
52,573512302693060608,i've seen some ropey support acts in my time. ...,0
53,920153103013371904,evacuated family watches giant <NUMBER> drop r...,1
54,218810749550739456,<USER> if you have time could you do a shout-o...,1
55,391047817482891264,my mates gil &amp; adam trying to protect thei...,1
56,919909428450783232,"""wildfires rages through california"" author: s...",1

In [32]:
print_tweet_report(test_df)

  column_names             data_types shape_len  unique_values
0           id  <class 'numpy.int64'>        ()             57
1         text          <class 'str'>       ---             57
2    relevance  <class 'numpy.int64'>        ()              2

In [33]:
check_relevance_balance(test_df)

   relevance  count balance
0          1     32  56.14%
1          0     25  43.86%

In [41]:
irrelevant

,id,text,relevance
0,908011835244326912,<USER> lol you're blocked. seek help and don't...,0
2,411578559317028864,damn straight bored now,0

In [42]:
relevant

,id,text,relevance
1,919987689075695616,"hero dog protects goats, deer after family eva...",1
3,920071861211357184,why life and death in california fire zone dep...,1
4,390766375507329024,it will be a miracle if no lives are lost to n...,1
5,918242189607444480,new: death toll in california's wildfires has ...,1

In [43]:
result = pd.concat([irrelevant, relevant], ignore_index=True)
result

,id,text,relevance
0,908011835244326912,<USER> lol you're blocked. seek help and don't...,0
1,411578559317028864,damn straight bored now,0
2,919987689075695616,"hero dog protects goats, deer after family eva...",1
3,920071861211357184,why life and death in california fire zone dep...,1
4,390766375507329024,it will be a miracle if no lives are lost to n...,1
5,918242189607444480,new: death toll in california's wildfires has ...,1